<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ConnectionStringBD" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;DataSource= BaseDataPicto.accdb';Persist SecurityInfo=True;" />
        <add name="WindowsFormsApp3.Properties.Settings.BaseDataPictoCn"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\BaseDataPicto.mdf;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="WindowsFormsApp3.Properties.Settings.Database1ConnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\DataPicto.mdf;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="WindowsFormsApp3.Properties.Settings.CnDatabase1"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\Database1.mdf;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="WindowsFormsApp3.Properties.Settings.BaseDataPictogramasConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\BaseDataPictogramas.accdb"
            providerName="System.Data.OleDb" />
        <add name="WindowsFormsApp3.Properties.Settings.BaseDataPictogramasConnectionString1"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=C:\Users\Tomas\Documents\GitHub\Pict0\BaseDataPictogramas.accdb"
            providerName="System.Data.OleDb" />
        <add name="WindowsFormsApp3.Properties.Settings.BaseDataPictoConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=C:\Users\Tomas\Documents\GitHub\Pict0\BaseDataPicto.accdb"
            providerName="System.Data.OleDb" />
        <add name="WindowsFormsApp3.Properties.Settings.BaseDataPictoConnectionString1"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\bin\Debug\BaseDataPicto.accdb"
            providerName="System.Data.OleDb" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>